<h1 class="display-1">{{heading}}</h1>

<form [formGroup]="horseForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <!-- Start name and date of birth row -->
    <div class="mb-2 col-lg-6">
      <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
      <div class="row">
        <label for="horseName" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Name
        </label>
        <div class="col-md-10 col-lg-8"
             >
          <input type="text"
                 id="horseName"
                 name="horseName"
                 placeholder="Horse name"
                 class="form-control"
                 [class]="dynamicCssClassesForInput(name)"
                 formControlName="name"
                 maxlength="255"
          >
          <div class="invalid-feedback" *ngIf="name.errors?.required">
            <!-- This is shown, when the form validation deems the name input to be invalid -->
            Name is required.
          </div>
          <div class="invalid-feedback" *ngIf="name.hasError('whitespace')">
            No whitespace allowed inside name.
          </div>
        </div>
      </div>
    </div>
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horseDateOfBirth" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Date of Birth
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="date"
                 id="horseDateOfBirth"
                 name="horseDateOfBirth"
                 class="form-control"
                 [class]="dynamicCssClassesForInput(dateOfBirth)"
                 formControlName="dateOfBirth"
          ><div class="invalid-feedback" *ngIf="dateOfBirth.errors?.required">
            Date of birth is required.
          </div>
          <div class="invalid-feedback" *ngIf="dateOfBirth.hasError('dateInFuture')">
            Date of birth cannot be in the future.
          </div>
        </div>
      </div>
    </div>
    <!-- End name and date of birth row -->
  </div>

  <div class="row">
    <!-- Start sex and owner row -->
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horseSex" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Sex
        </label>
        <div class="col-md-10 col-lg-8">
          <select class="form-select"
                  id="horseSex"
                  name="horseSex"
                  formControlName="sex"
            >
            <option value="FEMALE">Female</option>
            <option value="MALE">Male</option>
          </select>
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horseOwner" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Owner
        </label>
        <div class="col-md-10 col-lg-8">
          <input *ngIf="!ownerFormControl.value else selectedOwnerFullName"
                 class="form-control"
                 type="text"
                 placeholder="Start typing here to select an owner..."
                 id="horseOwner" name="owner"
                 [ngbTypeahead]="searchOwner"
                 (selectItem)="setOwner($event.item)"
                 maxlength="255"
                 [resultFormatter]="ownerFullNameResultFormatter"
          />
        </div>
        <ng-template #selectedOwnerFullName>
          <div>
            <div class="typeahead-result">
              {{ ownerFormControl.value?.firstName + ' ' + ownerFormControl.value?.lastName }}
              <button type="button" (click)="clearOwner()" class="btn btn-secondary">
                <i class="bi bi-x-circle"></i>
              </button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- No row and col-* here. We want this to always span the whole width. -->
    <label for="horseDescription" class="col-form-label text-md-end text-md-end text-muted col-md-2">
      Description
    </label>
    <div class="col-md-10"
         >
      <textarea class="form-control"
                id="horseDescription"
                name="horseDescription"
                formControlName="description"
                maxlength="4095"
      >
      </textarea>
    </div>
  </div>

  <div class="mt-4 d-flex flex-row">
    <button type="button" class="btn btn-danger" *ngIf="!modeIsCreate">
      <i class="bi bi-trash"></i>
      Delete
    </button>
    <span class="flex-grow-1"></span>
    <button type="submit" class="btn btn-primary" [disabled]="horseForm.invalid">
      {{submitButtonText}}
    </button>
  </div>
</form>
