<div class="header-and-buttons">
  <h1 class="display-1">{{heading}}</h1>
  <div class="top-buttons-wrapper">
    <button class="button-with-icon-and-text btn btn-sm btn-dark" routerLink="family-tree">
      <i class="bi bi-diagram-2-fill"></i> View Family Tree
    </button>
    <button *ngIf="isReadonlyMode" class="button-with-icon-and-text btn btn-sm btn-primary" routerLink="edit">
      <i class="bi bi-pencil"></i> Edit
    </button>
    <button *ngIf="isEditMode" class="button-with-icon-and-text btn btn-sm btn-secondary" routerLink="../">
      <i class="bi bi-info-lg"></i> Details
    </button>
  </div>
</div>

<form [formGroup]="horseForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="mb-2 col-lg-6">
      <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
      <div class="row">
        <label for="horseName" class="col-form-label text-md-end text-muted col-md-2 col-lg-4" [ngClass]="{'mark-as-mandatory' : isCreateMode || isEditMode }">
          Name
        </label>
        <div class="col-md-10 col-lg-8 form-field">
          <ng-container *ngIf="isCreateMode || isEditMode">
            <div class="input-and-message-wrapper">
              <input type="text"
                     id="horseName"
                     name="horseName"
                     placeholder="Horse name"
                     class="form-control"
                     [class]="dynamicCssClassesForInput(nameFormControl)"
                     formControlName="name"
                     maxlength="255"
              >
              <div class="invalid-feedback" *ngIf="nameFormControl.errors?.required">
                Name is required.
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="isReadonlyMode">
              <span class="readonly-name">{{nameFormControl.value}}</span>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4" [ngClass]="{'mark-as-mandatory' : isCreateMode || isEditMode }">
          Date of Birth
        </label>
        <div class="col-md-10 col-lg-8 form-field">
          <ng-container *ngIf="isCreateMode || isEditMode">
            <div class="input-and-message-wrapper">
              <input type="date"
                     name="horseDateOfBirth"
                     class="form-control"
                     [class]="dynamicCssClassesForInput(dateOfBirthFormControl)"
                     formControlName="dateOfBirth"
              >
              <div class="invalid-feedback" *ngIf="dateOfBirthFormControl.errors?.required && !dateOfBirthFormControl.hasError('dateInFuture')">
                Date of birth is required.
              </div>
              <div class="invalid-feedback" *ngIf="dateOfBirthFormControl.hasError('dateInFuture')">
                Date cannot be in future.
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="isReadonlyMode">
            {{dateOfBirthFormControl.value}}
          </ng-container>
        </div>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4" [ngClass]="{'mark-as-mandatory' : isCreateMode || isEditMode }">
          Sex
        </label>
        <div class="col-md-10 col-lg-8 form-field">
          <ng-container *ngIf="isCreateMode || isEditMode">
            <select class="form-select"
                    name="horseSex"
                    formControlName="sex"
            >
              <option value="FEMALE">Female</option>
              <option value="MALE">Male</option>
            </select>
          </ng-container>
          <ng-container *ngIf="isReadonlyMode">
            {{sexFormControl.value}}
          </ng-container>
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <div class="col-md-2 col-lg-4 label-and-button">
          <label class="col-form-label text-md-end text-muted">
            Mother
          </label>
          <button *ngIf="motherFormControl.value && !isCreateMode"
                  type="button"
                  class="btn btn-sm btn-secondary detail-button"
                  (click)="navigateToMother()">
            <i class="bi bi-info-lg"></i>
          </button>
        </div>
        <div class="col-md-10 col-lg-8 form-field">
          <ng-container *ngIf="isCreateMode || isEditMode">
            <input *ngIf="!motherFormControl.value else selectedMotherName"
                   class="form-control"
                   type="text"
                   placeholder="Start typing here to select a mother..."
                   name="mother"
                   [ngbTypeahead]="searchMother"
                   (selectItem)="setMother($event.item)"
                   maxlength="255"
                   [resultFormatter]="motherNameResultFormatter"
            />
            <ng-template #selectedMotherName>
              <div>
                <div class="typeahead-result">
                  <span class="readonly-name">{{ currentMotherName }}</span>
                  <button type="button" (click)="clearMother()" class="btn btn-secondary">
                    <i class="bi bi-x-circle"></i>
                  </button>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container *ngIf="isReadonlyMode">
            <span class="readonly-name">{{ currentMotherName }}</span>
          </ng-container>
        </div>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Owner
        </label>
        <div class="col-md-10 col-lg-8 form-field">
          <ng-container *ngIf="isCreateMode || isEditMode">
            <input *ngIf="!ownerFormControl.value else selectedOwnerFullName"
                   class="form-control"
                   type="text"
                   placeholder="Start typing here to select an owner..."
                   name="owner"
                   [ngbTypeahead]="searchOwner"
                   (selectItem)="setOwner($event.item)"
                   maxlength="511"
                   [resultFormatter]="ownerFullNameResultFormatter"
            />
            <ng-template #selectedOwnerFullName>
              <div>
                <div class="typeahead-result">
                  <span class="readonly-name">{{ currentOwnerFullName }}</span>
                  <button type="button" (click)="clearOwner()" class="btn btn-secondary">
                    <i class="bi bi-x-circle"></i>
                  </button>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container *ngIf="isReadonlyMode">
            <span class="readonly-name">{{ currentOwnerFullName }}</span>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <div class="col-md-2 col-lg-4 label-and-button">
          <label class="col-form-label text-md-end text-muted">
            Father
          </label>
          <button *ngIf="fatherFormControl.value && !isCreateMode"
                  type="button"
                  class="btn btn-sm btn-secondary detail-button"
                  (click)="navigateToFather()"
                  >
            <i class="bi bi-info-lg"></i>
          </button>
        </div>
        <div class="col-md-10 col-lg-8 form-field">
          <ng-container *ngIf="isCreateMode || isEditMode">
            <input *ngIf="!fatherFormControl.value else selectedFatherName"
                   class="form-control"
                   type="text"
                   placeholder="Start typing here to select a father..."
                   name="father"
                   [ngbTypeahead]="searchFather"
                   (selectItem)="setFather($event.item)"
                   maxlength="255"
                   [resultFormatter]="fatherNameResultFormatter"
            />
            <ng-template #selectedFatherName>
              <div>
                <div class="typeahead-result">
                  <span class="readonly-name">{{ currentFatherName }}</span>
                  <button type="button" (click)="clearFather()" class="btn btn-secondary">
                    <i class="bi bi-x-circle"></i>
                  </button>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container *ngIf="isReadonlyMode">
            <span class="readonly-name">{{ currentFatherName }}</span>
          </ng-container>
        </div>
      </div>
    </div>

  </div>


  <div class="row">

    <label class="col-form-label text-md-end text-md-end text-muted col-md-2">
      Description
    </label>
    <div class="col-md-10 form-field">
      <ng-container *ngIf="isCreateMode || isEditMode">
        <textarea class="form-control"
                  name="horseDescription"
                  formControlName="description"
                  maxlength="4095"
        ></textarea>
      </ng-container>
      <ng-container *ngIf="isReadonlyMode">
        <span class="readonly-description">{{descriptionFormControl.value}}</span>
      </ng-container>
    </div>

  </div>

  <div class="mt-4 d-flex flex-row">
    <button type="button" class="btn btn-danger" *ngIf="isEditMode || isReadonlyMode" (click)="confirmIfDeleteHorse()">
      <i class="bi bi-trash"></i>
      Delete
    </button>
    <span class="flex-grow-1"></span>
    <button type="submit" class="btn btn-primary" *ngIf="isCreateMode || isEditMode" [disabled]="horseForm.invalid">
      {{submitButtonText}}
    </button>
  </div>


</form>
