<div class="header-and-buttons">
  <h1 class="display-1">{{heading}}</h1>
  <div class="buttons-wrapper">
    <button *ngIf="isReadonlyMode" class="button-with-icon-and-text btn btn-sm" routerLink="edit">
      <i class="bi bi-pencil"></i>EDIT
    </button>
    <button *ngIf="isEditMode" class="button-with-icon-and-text btn btn-sm" routerLink="../">
      <i class="bi bi-info-lg"></i>DETAILS
    </button>
  </div>
</div>

<form [formGroup]="horseForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="mb-2 col-lg-6">
      <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
      <div class="row">
        <label for="horseName" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Name
        </label>
        <div class="col-md-10 col-lg-8 form-field">
          <ng-container *ngIf="isCreateMode || isEditMode">
            <input type="text"
                   id="horseName"
                   name="horseName"
                   placeholder="Horse name"
                   class="form-control"
                   [class]="dynamicCssClassesForInput(nameFormControl)"
                   formControlName="name"
                   maxlength="255"
            >
            <div class="invalid-feedback" *ngIf="nameFormControl.errors?.required">
              Name is required.
            </div>
            <div class="invalid-feedback" *ngIf="nameFormControl.hasError('whitespace')">
              No whitespace allowed inside name.
            </div>
          </ng-container>
          <ng-container *ngIf="isReadonlyMode">
              {{nameFormControl.value}}
          </ng-container>
        </div>
      </div>
    </div>
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Date of Birth
        </label>
        <div class="col-md-10 col-lg-8 form-field">
          <ng-container *ngIf="isCreateMode || isEditMode">
              <input type="date"
                     name="horseDateOfBirth"
                     class="form-control"
                     [class]="dynamicCssClassesForInput(dateOfBirthFormControl)"
                     formControlName="dateOfBirth"
              ><div class="invalid-feedback" *ngIf="dateOfBirthFormControl.errors?.required">
              Date of birth is required.
            </div>
              <div class="invalid-feedback" *ngIf="dateOfBirthFormControl.hasError('dateInFuture')">
                Date of birth cannot be in the future.
              </div>
          </ng-container>
          <ng-container *ngIf="isReadonlyMode">
            {{dateOfBirthFormControl.value}}
          </ng-container>
        </div>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Sex
        </label>
        <div class="col-md-10 col-lg-8 form-field">
          <ng-container *ngIf="isCreateMode || isEditMode">
            <select class="form-select"
                    name="horseSex"
                    formControlName="sex"
            >
              <option value="FEMALE">Female</option>
              <option value="MALE">Male</option>
            </select>
          </ng-container>
          <ng-container *ngIf="isReadonlyMode">
            {{sexFormControl.value}}
          </ng-container>
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Mother
        </label>
        <div class="col-md-10 col-lg-8 form-field">
          <ng-container *ngIf="isCreateMode || isEditMode">
            <input *ngIf="!motherFormControl.value else selectedMotherName"
                   class="form-control"
                   type="text"
                   placeholder="Start typing here to select a mother..."
                   name="mother"
                   [ngbTypeahead]="searchMother"
                   (selectItem)="setMother($event.item)"
                   maxlength="255"
                   [resultFormatter]="motherNameResultFormatter"
            />
            <ng-template #selectedMotherName>
              <div>
                <div class="typeahead-result">
                  {{ currentMotherName }}
                  <button type="button" (click)="clearMother()" class="btn btn-secondary">
                    <i class="bi bi-x-circle"></i>
                  </button>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container *ngIf="isReadonlyMode">
            {{ currentMotherName }}
          </ng-container>
        </div>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Owner
        </label>
        <div class="col-md-10 col-lg-8 form-field">
          <ng-container *ngIf="isCreateMode || isEditMode">
            <input *ngIf="!ownerFormControl.value else selectedOwnerFullName"
                   class="form-control"
                   type="text"
                   placeholder="Start typing here to select an owner..."
                   name="owner"
                   [ngbTypeahead]="searchOwner"
                   (selectItem)="setOwner($event.item)"
                   maxlength="255"
                   [resultFormatter]="ownerFullNameResultFormatter"
            />
            <ng-template #selectedOwnerFullName>
              <div>
                <div class="typeahead-result">
                  {{ currentOwnerFullName }}
                  <button type="button" (click)="clearOwner()" class="btn btn-secondary">
                    <i class="bi bi-x-circle"></i>
                  </button>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container *ngIf="isReadonlyMode">
            {{ currentOwnerFullName }}
          </ng-container>
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Father
        </label>
        <div class="col-md-10 col-lg-8 form-field">
          <ng-container *ngIf="isCreateMode || isEditMode">
            <input *ngIf="!fatherFormControl.value else selectedFatherName"
                   class="form-control"
                   type="text"
                   placeholder="Start typing here to select a father..."
                   name="father"
                   [ngbTypeahead]="searchFather"
                   (selectItem)="setFather($event.item)"
                   maxlength="255"
                   [resultFormatter]="fatherNameResultFormatter"
            />
            <ng-template #selectedFatherName>
              <div>
                <div class="typeahead-result">
                  {{ currentFatherName }}
                  <button type="button" (click)="clearFather()" class="btn btn-secondary">
                    <i class="bi bi-x-circle"></i>
                  </button>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <ng-container *ngIf="isReadonlyMode">
            {{ currentFatherName }}
          </ng-container>
        </div>
      </div>
    </div>

  </div>


  <div class="row">

    <label class="col-form-label text-md-end text-md-end text-muted col-md-2">
      Description
    </label>
    <div class="col-md-10 form-field">
      <ng-container *ngIf="isCreateMode || isEditMode">
        <textarea class="form-control"
                  name="horseDescription"
                  formControlName="description"
                  maxlength="4095"
        ></textarea>
      </ng-container>
      <ng-container *ngIf="isReadonlyMode">
        {{descriptionFormControl.value}}
      </ng-container>
    </div>

  </div>

  <div class="mt-4 d-flex flex-row">
    <button type="button" class="btn btn-danger" *ngIf="isEditMode || isReadonlyMode" (click)="confirmIfDeleteHorse()">
      <i class="bi bi-trash"></i>
      Delete
    </button>
    <span class="flex-grow-1"></span>
    <button type="submit" class="btn btn-primary" *ngIf="isCreateMode || isEditMode" [disabled]="horseForm.invalid">
      {{submitButtonText}}
    </button>
  </div>


</form>
