.typeahead-result{
  display: flex;
  align-items: center;
  gap: 16px;
}

.form-field {
  display: flex;
  align-items: center;
}

.button-with-icon-and-text {
  display: flex;
  gap: 8px;
  border: black 1px solid;
}

.buttons-wrapper {
  display: flex;
  gap: 16px;
}

.header-and-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.input-and-message-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

label.mark-as-mandatory::before {
  content: "*";
  color: rgba(255, 0, 0, 0.50);
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
}

.label-and-button {
  display: flex;
  gap: 8px;
  justify-content: flex-end;

  .detail-button {
    align-self: flex-start;
    margin-top: 4px;
  }
}

.readonly-name {
  max-width: 440px;
  word-wrap: break-word;
}

.readonly-description {
  max-width: 1000px;
  word-wrap: break-word;
}
